#page1{
background-color:blue;

}
.cont{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
#page2{
background-color:green;

}
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}